<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="/WEB-INF/includes/layout.xhtml">
    <ui:define name="content">
        <h:form>
            <h:inputText value="#{messageBean.messageText}"/>
            <h:commandButton value="Post Message" action="#{messageBean.saveMessage}"/>
        </h:form>
        <h:dataTable value="#{messageBean.messages}" var="message">
            <h:column>
                <f:facet name="header">User</f:facet>
                #{message.user.name}
            </h:column>
            <h:column>
                <f:facet name="header">Message</f:facet>
                #{message.message}
            </h:column>
            <h:column>
                <f:facet name="header">Message Date</f:facet>
                #{message.messageDate}
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>